.home-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-block-start: 50px;
  margin-inline: 50px;
  padding-block-start: 50px;
  padding-inline: 50px;
}

.footer-layout {
  margin-block-end: 50px;
  position: relative;
  bottom: 0;
}

@media screen and (max-width: 500px) {
  .home-layout {
    margin-block-start: 20px;
    margin-inline: 20px;
    padding-block-start: 20px;
    padding-inline: 20px;
    height: 100vh;
  }
}

@media screen and (max-width: 400px) {
  .home-layout {
    height: auto;
  }
}